<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>含み損益・証拠金シュミレーター</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1 class="text-center">含み損益・証拠金シュミレーター</h1>
  <div id="app" class="container" v-cloak>
    <!-- <div v-show="positions.length > 0"> -->
    <h2>結果</h2>
    <h3>含み損益</h3>
    <p>{{ unrealizedValue }} 円<br>
      {{ pips }} pips</p>
    <h3>必要証拠金</h3>
    <p>{{ necessaryMargin }} 円</p>
    <h3>証拠金維持率</h3>
    <p>{{ marginLevel }} ％</p>
    <p v-show="marginLevel < 100" class="text-danger"><i class="fas fa-exclamation-triangle"></i> 100%を下回っています！
    </p>
    <!-- </div> -->

    <div class="card">
      <div class="card-body">
        <h2>基礎設定</h2>

        <div>
          <h3>業者</h3>
          <label><input type="radio" name="broker" value="overseas" v-model="broker"> 海外</label>
          <label><input type="radio" name="broker" value="japan" v-model="broker"> 国内</label>

          <h3>レバレッジ</h3>
          <div>
            <select name="" id="" v-model="leverage[broker]" class="form-control">
              <option :value="leverage" v-for="leverage in leverages[broker]">{{ leverage }}</option>
            </select> 倍
          </div>

          <h3>残高</h3>
          <input type="number" min="0" v-model="balance" class="form-control">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h2>ポジション</h2>
        <p class="text-muted">持っているポジションを入力してください。</p>

        <h3>ポジションを追加する</h3>
        <form action="" @submit.prevent="addPosition">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>通貨ペア</th>
                <th>売買</th>
                <th>ロット</th>
                <th>エントリーレート</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select name="" id="" v-model='form.pair' @change="setEntryRate" class="form-control">
                    <option v-for="currencyInfoItem in currencyInfo">
                      {{ currencyInfoItem.name }}
                    </option>
                  </select>
                </td>
                <td>
                  <label><input type="radio" name="action" value="buy" v-model="form.action"> buy</label>
                  <label><input type="radio" name="action" value="sell" v-model="form.action"> sell</label>
                </td>
                <td><input type="number" min="0.01" step="0.01" v-model="form.lot" class="form-control"></td>
                <td><input type="number" min="0.00001" step="0.00001" v-model="form.entryRate" class="form-control">
                </td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-primary">追加</button>
        </form>

        <div v-show="positions.length > 0">
          <h3>保有ポジション</h3>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>通貨ペア</th>
                <th>売買</th>
                <th>ロット</th>
                <th>エントリーレート</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(position, index) in positions">
                <td>{{ position.pair }}</td>
                <td>{{ position.action }}</td>
                <td>{{ position.lot }}</td>
                <td>{{ position.entryRate }}</td>
                <td><button @click="deletePosition(index)" class="btn btn-danger">削除</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h2>現在レート</h2>
        <p class="text-muted">現在のレートを入力してください。</p>
        <div v-for="currencyInfoItem in currencyInfo">
          {{currencyInfoItem.name }} : <input type="number" min="0.00001" step="0.00001" v-model="currencyInfoItem.rate"
            class="form-control">
        </div>
        <button @click="getCurrentRates" class="btn btn-primary">現在レートを取得 (未実装)</button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h2>仮定レート</h2>
        <p class="text-muted">仮定のレートを入力してください。</p>
        <div v-for="currencyInfoItem in currencyInfo">
          {{currencyInfoItem.name }} : <input type="number" min="0.00001" step="0.00001"
            v-model="currencyInfoItem.rateExpected" class="form-control">
        </div>
        <button class="btn btn-primary">現在レートを取得 (未実装)</button>
      </div>
    </div>

    <pre>{{ $data }}</pre>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
  <script src="script.js"></script>
</body>

</html>